* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;

    color: darkslategray;

    display: flex;
    justify-content: center;
}



.top {
    background-color: lightgray;
    font-size: 30px;
    font-weight: 50;
    margin: 25px;
}

.top a {
    
    text-decoration: none;
    color: blue;
}

.topline {
    background-color: slategray;
    width: 100%;
    height: 10px;
}

h1 {
    font-size: 60px;
    margin-top: 50px;
    font-weight: 100;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 60px;
    margin-top: 50px;
    font-weight: 100;
    display: flex;
    justify-content: center;
}

h3 a {
    text-decoration: none;
    color: blue;
}

.save {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.save input {
    font-size: 15px;
    width: 75px;
}

.bottomline {
    background-color: slategray;
    width: 100vw;
    height: 10px;
}

form {
    display: flex;
    justify-content: center;
}

select {
    margin: 25px;
    font-size: 20px;
}

input {
    margin: 25px;
    font-size: 20px;
}

nav {
    background-color: lightgrey;
    font-size: 30px;
    font-weight: 50;
    margin: 25px;
    width: 100vw;

    display: flex;
    justify-content: center;
}

nav a {
    margin: 15px;
    text-decoration: none;
    color: blue;
}