<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance</title>
</head>
<body>
    <h4>
        {% if user.group == None %}
        {{user.username}}
        {% else %}
        {{user.group}}
        {% endif %}</a> 
        <a href="{% url 'group_select' %}">Group/Individual Select</h4>
        <a href="{% url 'logout' %}">Logout</a>
    <h1>Balance</h1>
    <ul>
        {% for group in groups %}
        <li>{{group}}</li>
        <li>{{user.group}}</li>
        {% endfor %}
    </ul>

    

    <form>
        
        <h3>
            <a href="{% url 'balance' prev_month_year %}"><</a>
            {{show_month}} {{show_year}}
            <a href="{% url 'balance' next_month_year %}">></a>
            <br>
            {{month_amount}}
        </h3>
        

    </form>
    
    <nav>
        <a href="{% url 'welcome' %}">Home</a>
        <a href="{% url 'expenses' %}">Bills</a>
        <a href="{% url 'incomes' %}">Incomes</a>
        <a href="{% url 'loans' %}">I.O.U.</a>
        <a href="{% url 'create' %}">Add new Transaction</a>
    </nav>
</body>
</html>