<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance</title>
</head>
<body>
    <h1>Balance</h1>
    
    <form>
        
        <h3>
            <a href="{% url 'balance' prev_month %}"><</a>
            {{month}} {{year}}
            <a href="{% url 'balance' next_month %}">></a>
            <br>
            {{amount}}
        </h3>
        

    </form>
    
    <nav>
        <a href="{% url 'welcome' %}">Home</a>
        <a href="{% url 'bills' %}">Bills</a>
        <a href="{% url 'incomes' %}">Incomes</a>
        <a href="{% url 'lent' %}">I.O.U.</a>
        <a href="{% url 'form' %}">Add new Transaction</a>
    </nav>
</body>
</html>