<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bills</title>
</head>
<body>
    <h1>Bills</h1>

    <table>
        {% for transaction in transactions %}
        {%  if transaction.type == "Expense" %}
        <th>{{ transaction.purpose }}</th>
        <td>{{ transaction.amount }}</td>
        <td><a href="{% url 'details' transaction.id %}">{{ transaction.name }}</a></td>
        <td><form action="{% url 'editform' transaction.id %}">
            <button type="submit">Edit</button>
        </form>
        </td>
        <tr></tr>
        {% endif %}
        {% endfor %}
    </table>
</body>
</html>