<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{object.name}}</title>
</head>
<body>
    <h1>Details for {{object.name}}</h1>
    <br>
    <table>
        {% for key, value in items_dict %}
        <th>{{ key }}</th>
        {% if value != None %}
        
        <td>
            {% if key != "Website" %}
            {{ value }}
            {% else %}
            <a href="{{value}}" target="_blank">{{value}}</a>   
            {% endif %}  
        </td>

        {% endif %}
        <tr></tr>
        {% endfor %}
    </table>

    <td>
        <form action="{% url 'update' object.id %}">
            <button type="submit">Edit</button>
        </form>
    </td>
    <td>
        <form action="{% url 'delete' object.id %}">
            <button type="submit">Delete</button>
        </form>
    </td>
    <nav>
        {% if object.transaction_type == "Expense" %}
        <a href="{% url 'expenses' %}">Back to Bills</a>
        {% elif object.transaction_type == "Income" %}
        <a href="{% url 'incomes' %}">Back to Incomes</a>
        {% else %}
        <a href="{% url 'loans' %}">Back to I.O.U.s</a>
        {% endif %}
        <a href="{% url 'welcome' %}">Home</a>
        <a href="{% url 'balance' %}">Balance</a>
    </nav>
</body>
</html> 