<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{transaction.name}}</title>
</head>
<body>
    <h1>Details for {{transaction.name}}</h1>
    <br>
    <table>
        {% for key, value in items %}
        <th>{{ key }}</th>
        {% if value != None %}
        
        <td>
            {% if key != "Website" %}
            {{ value }}
            {% else %}
            <a href="{{value}}" target="_blank">{{value}}</a>   
            {% endif %}  
        </td>

        {% endif %}
        <tr></tr>
        {% endfor %}
    </table>

    
</body>
</html>