<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/balance/details.css">
    <title>{{object.name}}</title>
</head>
<body>
    <div class="content">
        <div class="top">
    <h4>
        {% if user.group == None %}
        {{user.username}}
        {% else %}
        {{user.group}}
        {% endif %}</a> 
        <a href="{% url 'group_select' %}">Group/Individual Select</a>
        <a href="{% url 'logout' %}">Logout</a>
    </h4>
</div>
<div class="topline"></div>
    <h1>Details for {{object.name}}</h1>
    <br>
    <table>
        {% for key, value in items_dict %}
        <th>{{ key }}</th>
        {% if value != None %}
        
        <td>
            {% if key != "Website" %}
            {{ value }}
            {% else %}
            <a href="{{value}}" target="_blank">{{value}}</a>   
            {% endif %}  
        </td>

        {% endif %}
        <tr></tr>
        {% endfor %}
        
        <td>
            <form action="{% url 'update' object.id %}">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td>
            <form action="{% url 'delete' object.id %}">
                <button type="submit">Delete</button>
            </form>
        </td>
        
    </table>
    
    <div class="bottomline"></div>
    <nav>
        <a href="{% url 'welcome' %}">Home</a>
        <a href="{% url 'balance' %}">Monthly Balance</a>
        <a href="{% url 'expenses' %}">Expenses</a>
        <a href="{% url 'incomes' %}">Incomes</a>
        <a href="{% url 'loans' %}">Loans</a>
        <a href="{% url 'create' %}">Add new Transaction</a>
        <a href="{% url 'registration_group' %}">Create a new Group</a>
        <a href="{% url 'login_group' %}">Join existing Group</a>
    </nav>
</div>
</body>
</html> 