<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{ transaction.name }}</title>
</head>
<body>
    <h1>Edit {{ transaction.name }}</h1>
    <form method="POST">
        <table>
            {{ form }}
        </table>
        {% csrf_token %}
        <button type="submit">Edit</button>
        

    </form>
    <form action="{% url 'delete_check' transaction.id %}">
        <button type="submit">Delete</button>
    </form>

    <nav>
        {% if transaction.type == "Expense" %}
        <a href="{% url 'bills' %}">Back to Bills</a>
        {% elif transaction.type == "Income" %}
        <a href="{% url 'incomes' %}">Back to Incomes</a>
        {% else %}
        <a href="{% url 'lent' %}">Back to I.O.U.s</a>
        {% endif %}
        <a href="{% url 'welcome' %}">Home</a>
        <a href="{% url 'balance' %}">Balance</a>
    </nav>
</body>
</html>