<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/balance/group_select.css">
    <title>Group Select</title>
</head>
<body>
    <div class="content">
        <div class="top">
    <h4>
        {% if user.group == None %}
        {{user.username}}
        {% else %}
        {{user.group}}
        {% endif %}</a> 
        <a href="{% url 'group_select' %}">Group/Individual Select</a>
        <a href="{% url 'logout' %}">Logout</a>
    </h4>
</div>
<div class="topline"></div>
<h3>Choose a Group or Individual Account</h3>
    <form method="post">{% csrf_token %}
        <select name="groups" id="groupselect">
            <option value="" selected disabled hidden>Groups</option>
            {% for group in groups %}
            <option name="group">{{ group }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Switch to group">
    </form>

<div class="switch">
    <form method="post">{% csrf_token %}
        
        <input name="switch" type="submit" value="Switch to individual account">
    </form>
</div>
<div class="bottomline"></div>
    <nav>
        <a href="{% url 'welcome' %}">Home</a>
        <a href="{% url 'balance' %}">Monthly Balance</a>
        <a href="{% url 'expenses' %}">Expenses</a>
        <a href="{% url 'incomes' %}">Incomes</a>
        <a href="{% url 'loans' %}">Loans</a>
        <a href="{% url 'create' %}">Add new Transaction</a>
        <a href="{% url 'registration_group' %}">Create a new Group</a>
        <a href="{% url 'login_group' %}">Join existing Group</a>
    </nav>
</div>
</body>
</html>