<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incomes</title>
</head>
<body>
    <h1>Incomes</h1>

    <table>
        {% for transaction in transactions %}
        {%  if transaction.type == "Income" %}
        <th>{{ transaction.purpose }}</th>
        <td>{{ transaction.amount }}</td>
        <td>
            <a href="{% url 'details' transaction.id %}">{{ transaction.name }}</a>
        </td>
        <td>
            <form action="{% url 'editform' transaction.id %}">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td>
            <form action="{% url 'delete_check' transaction.id %}">
                <button type="submit">Delete</button>
            </form>
        </td>
        <tr></tr>
        {% endif %}
        {% endfor %}
    </table>

    <nav>
        <a href="{% url 'welcome' %}">Home</a>
        <a href="{% url 'balance_now' %}">Balance</a>
        <a href="{% url 'bills' %}">Bills</a>
        <a href="{% url 'incomes' %}">Incomes</a>
        <a href="{% url 'lent' %}">I.O.U.</a>
    </nav>
</body>
</html>